.flightMainWrap{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.formWrap{
    width: 100%;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 15px;
}
mat-form-field{
    width: 100%;
}