<div class="flightMainWrap">
    <form class="formWrap" [formGroup]="formJourney" *ngIf="!showJourney">
        <mat-form-field>
            <mat-label>Origin</mat-label>
            <mat-select formControlName="origin">
                <mat-option *ngFor="let origin of originList" [value]="origin">
                    {{origin}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Destination</mat-label>
            <mat-select formControlName="destination">
                <mat-option *ngFor="let destination of destinationList" [value]="destination">
                    {{destination}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Currency price</mat-label>
            <mat-select formControlName="currency">
                <mat-option *ngFor="let currencyItem of currencyList" [value]="currencyItem.currency">
                    {{currencyItem.currency}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="getJourney()">Send</button>
    </form>
    <div class="JourneyMainWrap" *ngIf="showJourney">
        <div class="JourneyWrap" *ngIf="JourneyRes.$flights.length; else Void">
            <div class="journeyInfo">
                <div class="dataItem center">
                    <span class="label"> ---Journey Info--- </span>
                    <br><br>
                </div>
                <div class="dataItem">
                    <span class="label">Origin: </span>
                    <span class="data">{{JourneyRes.$origins}}</span>
                </div>
                <div class="dataItem">
                    <span class="label">Destination: </span>
                    <span class="data">{{JourneyRes.$destination}}</span>
                </div>
                <div class="dataItem">
                    <span class="label">Price: </span>
                    <span class="data">{{JourneyRes.$price | currency}} {{this.formJourney.get('currency')?.value}}</span>
                </div>
                <div class="dataItem center">
                    <span class="label">Journey </span>
                    <br><br>
                </div>
            </div>

            <div class="JourneyWrapper" *ngFor="let JourneyResItem of JourneyRes.$flights">
                <div class="dataItem">
                    <span class="label">Origin: </span>
                    <span class="data">{{JourneyResItem.$origin}}</span>
                </div>
                <div class="dataItem">

                    <span class="label">Destination: </span>
                    <span class="data">{{JourneyResItem.$destination}}</span>
                </div>
                <div class="dataItem">

                    <span class="label">Price: </span>
                    <span class="data">{{JourneyResItem.$price | currency}} {{this.formJourney.get('currency')?.value}}</span>
                </div>
                <div class="dataItem center">
                    <span class="label">Transport: </span>
                </div>
                <div class="dataItem">
                    <span class="label"> - Flight Carrier: </span>
                    <span class="data">{{JourneyResItem.$transport.$flightCarrier}}</span>
                </div>
                <div class="dataItem">
                    <span class="label"> - Flight Number: </span>
                    <span class="data">{{JourneyResItem.$transport.$flightNumber}}</span>
                </div>
            </div>
        </div>
        <ng-template #Void>
            <h4>We do not have a journey for the selected locations</h4>
        </ng-template>
        <br><br>
        <button mat-raised-button color="primary" (click)="showJourney=false">Try again!</button>
        <br><br><br><br><br><br>

    </div>
</div>